.price {
  margin-top: 150px;
  @include for-size(laptop-down) {
    margin-top: 100px;
  }
}

.price-cards {
  margin-top: 34px;
  @include for-size(phone-only) {
    margin-top: 0;
  }
}

.tabs {
  border: 1px solid $grey-200;
  margin-top: 16px;
  border-radius: 30px;
  height: 46px;
  padding: 2px;
  button {
    border-radius: 30px;
    height: 100%;
    padding: 0 25px;
    color: $primary;
    min-width: 116px;
    transition: 300ms;
    cursor: pointer;
    &:hover {
      background-color: rgba(4, 24, 75, 0.04);
    }
    &.active {
      background-color: $primary;
      color: $white;
    }
  }
}
