//color
$text-primary: #04184b;
$text-secondary: #4c5271;
$primary: #2d31a6;
$white: #fff;
$primary-light: #f4f7ff;
$secondary: #ff7f5c;
$grey-400: #939393;
$grey-200: #e0e0e0;
$grey-A400: #FFFFFFCC;
//shadows
$shadow-1: 2px 4px 8px rgba(55, 52, 169, 0.05);
